@use "variables" as var;
@use "mixins" as mix;
@import"https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap";

html, body{
    margin: 0 auto;
    background-color: var.$primary;
    color: #ffff;
    font-family: Mulish,Arial,sans-serif;
    h1{
        font-size: 26px;
        letter-spacing: 1px;
    }
    a, a:visited, a:hover, a:active {
        color: inherit;
        text-decoration: none;
    }
    ul{
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        li{
            list-style: none;
        }
    }
    input:focus {
        outline: none;
        border: none;
        box-shadow: none;
        padding: 0px 0px;
    }
    span{
        color: var.$secondary;
    }
}

#bg-video{
    position: fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    min-width: 100%; 
    min-height: 100%;
    z-index: 1;
    filter: brightness(20%); 
}

#particles-js{
    position: absolute;
    min-width: 100%; 
    min-height: 100%;
    z-index: 2;
    canvas{
        min-width: 20%;
        min-height: 100%;
        position: absolute;
        bottom: 0;
    }
}

#item1{
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    .navbar{
        width: 82%;
        height: 50px;
        margin-top: 25px;
        border-radius: 15px;
        background-color: var.$primary;
        outline: 1px var.$secondary solid;
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 10px;
        a{
            @include mix.button;
            line-height: 35px;
            text-align: center;
            font-size: 20px;
        }
    }
    .hero{
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        transform: translate(0%, 22dvh);
        position: relative;
        @include mix.thinner-mobile{
            transform: translate(0%, 19dvh);
        }
        img{
            width: 300px;
            margin: -40px -10px -70px -10px;
        }
        .shortcuts{
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-content: space-between;
            width: 80%;
            @include mix.desktop{
                width: 450px!important;
            }
            @include mix.thinner-mobile{
                flex-direction: column;
                align-items: center;
            }
            li{
                @include mix.thinner-mobile{
                    width: 100%!important;
                    margin-bottom: 15px;
                }
                a{
                    display: flex;
                    @include mix.button;
                    width: 100px!important;
                    line-height: 35px;
                    font-size: 20px;
                    justify-content: center;
                    @include mix.thinner-mobile{
                        width: 100%!important;
                    }
                }
            }
        }
        form{
            width: 80%;
            display: flex;
            @include mix.desktop{
                width: 450px!important;
            }
            input[type="text"]{
                padding: 7px 2px;
                padding-inline-start: 10px;
                outline: 1px var.$secondary solid;
                border: none;
                width: 100%;
                border-radius: 10px;
                background-color: var.$primary;
                color: white;
                font-size: 18px;
            }
            i{
                position: absolute;
                right: 13%;
                @include mix.desktop{
                    right:37%;
                }
                margin-top: 8.5px;
            }
        }
    }
}

#item2{
    position: relative;
    z-index: 3;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var.$primary;
    #about{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .about-cards{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden!important;
            row-gap: 40px;
            margin-bottom: 40px;
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                width: 80%;
                height: 200px;
                border-radius: 20px;
                background: linear-gradient(135deg,rgba(0, 153, 255,.10) 10.93%,rgba(255,255,255,0) 90%);
                i{
                    margin-top: 15px;
                }
            }
            .fa-solid{
                font-size: 40px;
                background: -webkit-linear-gradient(0deg, #005a96 0%, #0099ff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0px 0px 5px rgba(0, 153, 255, 1);
            }
            p{
                width: 80%;
            }
        }
    }
}

#item3{
    position: relative;
    z-index: 3;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var.$primary;
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .discord{
        @include mix.thinner-mobile{
            width: 100%!important;
        }
        margin-block-end: 30px;
        @include mix.thinner-mobile{
            iframe{
                width: 80%!important;
            }
        }
    }
}

#item4{
    position: relative;
    z-index: 3;
    height: 20px;
    background-color: var.$primary;
    @include mix.thinner-mobile{
        line-height: 20px;
    }
    footer{
        display: flex;
        justify-content: center;
        overflow: hidden!important;
        p{
            margin: 0;
            @include mix.thinner-mobile{
                font-size: 12px;
            }
        }
    }
}